.title {
  margin: 10px;
}

hr {
  border: none; /* gets rid of the grey border lines that are automatically put on hr*/
  height: 2px;
  background-color: black;
  margin: 10px 0;
}
.Estimate_search {
  margin: 20px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; /* center the input field horizontally */
  border-radius: 8px;
}

.entry_field input {
  width: 100%; /* fill container width */
  box-sizing: border-box;
  margin-top: 10px;
}

.searchButton {
  margin-top: 9px;
  margin-left: 10px;
  height: 40px;
  width: 50px;
}
.search_icon {
  font-size: 25px;
}

.addEstimate {
  width: 20%;
  margin-left: 20px;
  margin-top: 50px;
  height: 20%;
}

.addEstimateBanner {
  margin-bottom: 40px;
}
